ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
}
.todo_item_completed {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}
.checkbox_and_text {
  display: flex;
  gap: 10px;
}
.todo_text {
  font-size: 16px;
}

.todo_text.done {
  text-decoration: line-through;
  color: black;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
}
.outer_ul {
  display: flex;
  width: 100%;
}
button {
  padding: 12px 25px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #167ff1;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: blue;
}